* {
  margin: 0;
  padding: 0;
}
/* start nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  background-color: #212121;
}
nav a {
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
  text-decoration: none;
  font-family: monospace;
  letter-spacing: 1px;
}
nav a:nth-of-type(1) {
  letter-spacing: 2px;
}
/* end nav */

/* start header */
.header {
  height: 590px;
  background: linear-gradient(to right, #0e0d0d59, #16165f21), url(../img/back.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button-header {
  display: flex;
}
.header h2 {
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.header h2 {
  font-size: 30px;
  font-family: monospace;
  letter-spacing: 3px;
  word-spacing: -10px;
  margin-bottom: 20px;
}
.header p {
  font-size: 18px;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.header button {
  padding: 8px 30px;
  border: none;
  font-size: 18px;
  font-family: monospace;
  margin-right: 20px;
  background-color: #6f0f41;
  color: #fff;
}
.header button:nth-of-type(2) {
  background-color: #2c9279;
}
/* end header */

/* start children section */
.children {
  margin-top: 30px;
}
.children h2 {
  text-align: center;
  font-size: 25px;
  font-family: monospace;
  word-spacing: -10px;
  letter-spacing: 3px;
}
.children hr {
  width: 200px;
  margin: auto;
  height: 2px;
  background-color: #e61d1d;
  margin-bottom: 45px;
  margin-top: 13px;
}
.children-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.children-container img {
  width: 40%;
  margin-bottom: 50px;
}
.children-container h2 {
  width: 45%;
  line-height: 1.7;
  font-family: monospace;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 20px;
}
.children-container h2::first-letter {
  color: #f00;
  font-size: 50px;
}
/* end children section */

/* start section about */
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #cccccc21;
  padding: 30px;
}
.about-container {
  border: 2px solid #cccccc73;
  padding: 20px;
  margin-bottom: 30px;
  width: 40%;
  background-color: #fff;
  margin-bottom: 30px;
}
.about-container img {
  width: 450px;
  height: 400px;
  display: block;
  margin: auto;
}
.about-container h2 {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
  letter-spacing: 2px;
  word-spacing: -10px;
}
/* end section about */

/* start contact section */
.contact {
  background-image: url(../img/contact\ us.gif);
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.contact input,
.contact textarea,
.message input {
  width: 80%;
  padding: 13px 10px;
  font-size: 18px;
  font-family: monospace;
  border-radius: 3px;
  border: none;
  margin-bottom: 10px;
  text-indent: 10px;
}
.contact h2,
.message h2 {
  font-size: 30px;
  color: #fff;
  font-family: monospace;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.contact button,
.message button {
  padding: 10px 30px;
  font-size: 18px;
  background-color: #212121;
  color: #fff;
  border: none;
  letter-spacing: 2px;
}
/* end contact section */

/* start message secction */
.message {
  padding-top: 30px;
  background-image: url(../img/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* end message secction */
